/**
 * author: Di (微信小程序开发工程师)
 * organization: WeAppDev(微信小程序开发论坛)(http://weappdev.com)
 *         垂直微信小程序开发交流社区
 *
 * github地址: https://github.com/icindy/wxParse
 *
 * for: 微信小程序富文本解析
 * detail : http://weappdev.com/t/wxparse-alpha0-1-html-markdown/184
 */

:host{
  display: block;
}

.view {
  word-break: hyphenate;
}

.inline {
  display: inline;
  margin: 0;
  padding: 0;
}

.div {
  word-break: hyphenate;
  margin: 0;
  padding: 0;
}

.h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

.h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

.h4 {
  margin: 1.33em 0;
}

.h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

.h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.b,
.strong {
  font-weight: bolder;
}

.p {
  margin: 1em 0;
}

.i,
.cite,
.em,
.var,
.address {
  font-style: italic;
}

.pre,
.tt,
.code,
.kbd,
.samp {
  font-family: monospace;
}

.pre {
  overflow: auto;
  background: #f5f5f5;
  padding: 8px;
  white-space: pre;
  margin: 1em 0px;
}

.code {
  display: inline;
  background: #f5f5f5;
}

.big {
  font-size: 1.17em;
}

.small,
.sub,
.sup {
  font-size: 0.83em;
}

.sub {
  vertical-align: sub;
}

.sup {
  vertical-align: super;
}

.s,
.strike,
.del {
  text-decoration: line-through;
}

.strong,
.s {
  display: inline;
}

.a {
  color: deepskyblue;
}

.video {
  text-align: center;
  margin: 10px 0;
}

.video-video {
  width: 100%;
}

.img {
  display: inline-block;
  width: 0;
  height: 0;
  max-width: 100%;
  overflow: hidden;
}

.blockquote {
  margin: 5px 0;
  padding: 10px 0 10px 10px;
  font-family: Courier, Calibri, "宋体";
  background: #f5f5f5;
  border-left: 3px solid #dbdbdb;
}

.blockquote .p {
  margin: 0;
}

.ul, .ol {
  display: block;
  margin: 1em 0;
  padding-left: 16px;
}

.ol {
  list-style-type: disc;
}

.ol {
  list-style-type: decimal;
}

.li {
  display: list-item;
  align-items: baseline;
  text-align: match-parent;
}

.ul .ul, .ol .ul {
  list-style-type: circle;
}

.ol .ol .ul, .ol .ul .ul, .ul .ol .ul, .ul .ul .ul {
  list-style-type: square;
}

.u {
  text-decoration: underline;
}

.hide {
  display: none;
}

.del {
  display: inline;
}

.figure {
  overflow: hidden;
}

.table {
  width: 100%;
}

.thead, .tfoot, .tr {
  display: flex;
  flex-direction: row;
}

.tr {
  width: 100%;
  display: flex;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.th,
.td {
  display: flex;
  width: 580px;
  overflow: auto;
  flex: 1;
  padding: 5px;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
}

.th {
  background: #f0f0f0;
}
